#container {
  position:fixed;
  height: 100%;
  width: 100%;
  background-color: lightblue;
  overflow: hidden;
  font-family: verdana;
  text-align: center;

}
.grass {
  position: relative;
  background: url('../img/grass.svg');
  top: 18%;  
  z-index: 1;  
}
.ground {
  position: absolute;
  top: 67%;
  background-color: green;
  height: 35%; 
  width: 100%;
}
.tree {
  position: fixed; 
  width: auto; 
  top:  2%; 
  z-index: 1;
}

.apple {
  position: absolute;
}

#apple1 {
  top: 21%;
  left: 27%;
}
#apple2 {
  top: 53%;
  left: 70%;
}
#apple3 {
  top: 33%;
  left: 55%;
}
#apple4 {
  top: 14%;
  left: 48%;
}
#apple5 {
  top: 60%;
  left: 27%;
}
#apple6 {
  top: 20%;
  left: 65%;
}
#apple7 {
  top: 28%;
  left: 44%;
}
#apple8 {
  top: 32%;
  left: 30%;
}
#apple9 {
  top: 42%;
  left: 18%;
}
#apple10 {
  top: 57%;
  left: 40%;
}
#dog {
  position:fixed;
  width: auto;
  top: 50%;
  left: 69%;
  height: 38%;  
  z-index: 1;
}
.bowl {
  position: fixed;
  width: auto;
  top: 70%;
  left: 60%;
  z-index: 1;

}

#score_help {
  position: relative;
  top: 15%;
  text-align: center;
  font-size: 25px;
  font-family: verdana;
  
}

body, html {
    width: 960;
    height: 100%;
}
div.box {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: orange;
}
div.exploding {
    position: absolute;
    width: 100px;
    height: 100px;
    background: url('../img/bone1.png');
    z-index: 1;
    background-repeat: no-repeat;
}