/* Mobile Styles */

#container {
  position: absolute;
  height: 100%;
  width: 100%;  
  background-color: lightblue;
  overflow: hidden;
  font-family: verdana;   
}
h1, h5 {
  text-align: center;
 
}
#score_help {
  position: relative;
  top: 0%;
  text-align: center;
  font-size: 30px;
  font-family: verdana;  
}
#cloud {
  position: absolute;
  z-index: 1;
  left: 60%;
  top:10%;
}
.grass {
  position: fixed; 
  top: 70%;   
  z-index: 1; 
} 
.ground {
  position: absolute;
  top: 67%;
  background-color: green;
  height: 35%; 
  width: 100%;
}
#tree {
  position: absolute;   
  top: 30%; 
  width: 375px;
  z-index: 1;
}
.apple {
  position:fixed;
  width: 60px;
  z-index: 1;
}
#apple1 {
 top: 375px;
 left: 160px;
}
#apple2 {
  top: 455px;
  left: 120px; 
}
#apple3 {
 top: 370px;
 left: 70px;
}
#apple4 {
  top: 420px;
  left: 240px;  
}
#apple5 {
  top: 310px;
  left: 210px;
 
}
#dog {
  position:absolute;  
  top: 47%;
  left: 65%;
  height: 28%;  
  z-index: 1;
}
.bowl {
  position: fixed;
  width: auto;
  top: 78%;
  left: 67%;
  z-index: 1;
}
div.exploding {
    position: absolute;
    width: 100px;
    height: 100px;
    background: url('../img/bone1.png');
    z-index: 1;
    background-repeat: no-repeat;
}
/* tablet/phone styles */

@media (max-width: 500px) {
  h1 {
    font-size: 20px;
  }

  #score_help {
    position: relative;
    top: 5%;
    text-align: center;
    font-size: 30px;
    font-family: verdana;  
  }  
  #cloud {
    display: none;
  }
  .grass {
   display: none;
  }  
  
  #tree {
    display: none;
    position: absolute; 
    left: 5%;
    top:  35%; 
    z-index: 1;    
    width: 275px;
  }
  .bowl {
    position: aboslute;
    width: 60px;
    top: 75%;
    left: 38%;
    z-index: 1;
  }
  #dog {
    position:absolute;
    height: 200px;
    top: 50%;
    left: 40%;    
    z-index: 1;
  }
  .apple {
    display: none;
    position:fixed;
    width: 40px;
    z-index: 1;
  }
  
  #apple1 {
   top: 310px;
   left: 150px;
  }
  #apple2 {
    top: 350px;
    left: 100px; 
  }
  #apple3 {
   top: 418px;
   left: 130px;
  }
  #apple4 {
    top: 330px;
    left: 210px;  
  }
  #apple5 {
    top: 390px;
    left: 200px;   
  }
  .ground {
    position: absolute;
    top: 67%;
    background-color: green;
    height: 35%; 
    width: 100%;
  }

} 